# Config for multi-device pretraining in full_finetune_distributed.py using a
# Llama3.2 100M model with octet tokenization, aka ByteLlama
#
# To launch on 4 devices, run the following command from root:
#   tune run --nproc_per_node 4 full_finetune_distributed --config bytellama.yaml
#
# You can add specific overrides through the command line. For example
# to override the checkpointer directory while launching training
# you can run:
#   tune run --nproc_per_node 4 full_finetune_distributed --config bytellama checkpointer.checkpoint_dir=<YOUR_CHECKPOINT_DIR>
#
# ByteLlama is *tiny*. You can fit it with batch size of 38 onto a A40 GPU when
# using bf16 precision. To adjust to your actual available memory:
#   tune run --nproc_per_node 4 full_finetune_distributed --config bytellama batch_size=16

# Tokenizer
tokenizer:
  _component_: bytellama.builder.octet_tokenizer
  max_seq_len: 2048

# Dataset
# This is a moderately sized synthetic dataset. Our actual dataset is the mc4
# corpus.
dataset:
  _component_: torchtune.datasets.text_completion_dataset
  source: /home/mittagessen/git/openiti/ds  # path to dataset directory also works
  split: train
  num_proc: 32
seed: null
shuffle: True

# Model Arguments
model:
  _component_: bytellama.builder.byte_llama

checkpointer:
  _component_: torchtune.training.FullModelTorchTuneCheckpointer
  checkpoint_dir: /tmp/bytellama/
  checkpoint_files: [
    model.pt
  ]
  recipe_checkpoint: null
  output_dir: /tmp/output_models
  model_type: LLAMA3_2
resume_from_checkpoint: False

# Fine-tuning arguments
batch_size: 38
epochs: 2

# Optimizer and Scheduler
optimizer:
  _component_: torch.optim.AdamW
  fused: True
  weight_decay: 0.1
  lr: 4e-4
optimizer_in_bwd: True

lr_scheduler:
  _component_: torchtune.training.lr_schedulers.get_cosine_schedule_with_warmup
  num_warmup_steps: 2000
max_steps_per_epoch: null
gradient_accumulation_steps: 1

# Loss
loss:
  _component_: torchtune.modules.loss.CEWithChunkedOutputLoss
#clip_grad_norm: 1.0

# Training env
device: cuda

# Memory management
enable_activation_checkpointing: False
enable_activation_offloading: False  # True reduces memory
compile: True # pytorch compile, set to true for perf/memory improvement

# Reduced precision
dtype: bf16

# Logging
metric_logger:
  _component_: torchtune.training.metric_logging.DiskLogger
  log_dir: ${output_dir}
output_dir: /tmp/full-bytellama-pretrain
log_every_n_steps: 1
log_peak_memory_stats: False
